#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
}

.dot-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  align-items: center;
}
.dot {
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.read-the-docs {
  margin-bottom: 2em;
  color: #888;
}
.roll--btn {
  margin-top: 1.5em;
  border: 1px solid #646cff;
}
.roll--btn:hover {
  border: 2px solid #646cff;
}
